body{
    background-color:#289df6;
}
.model{
    margin-top: 50px;
    padding: 50px;
    background-color:#ffff;
    display:inline-block;
    margin-left: 40%;
    justify-content: center;
    align-items: center;
}
#res{
    color:blue;
    font-weight: 1000;
    font-size: large;
}